.anyconnect
.bash_history
.bash_sessions/
.cisco
.dotfiles
.secrets
Applications (Parallels)/
Applications/
Desktop/
Documents/
Downloads/
Dropbox
Library/
Movies/
Music/
OneDrive - MyDigitalSpace
Pictures/
Public/
work/*/
